<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>275013377125-u48gt0d6i7e7q4ovl86gpqfljp337ecu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.275013377125-u48gt0d6i7e7q4ovl86gpqfljp337ecu</string>
	<key>API_KEY</key>
	<string>AIzaSyDl5pFESfWSA8ZLubkMvO98ISiv2qb4Lwk</string>
	<key>GCM_SENDER_ID</key>
	<string>275013377125</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fastPmsApp</string>
	<key>PROJECT_ID</key>
	<string>fast-pms-75d98</string>
	<key>STORAGE_BUCKET</key>
	<string>fast-pms-75d98.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:275013377125:ios:74107ebf3708b6cd793a8c</string>
</dict>
</plist>